@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  .submit {
    width: 100%;
    margin-top: 0;
  }
}

@media screen and (min-width: 650px) {
  .app-bar {
    grid-template-columns: 1fr auto;
    padding: 8px 32px;
  }

  .app-bar .app-bar__brand h1 {
    font-size: 1.5em;
  }

  .app-bar .app-bar__menu {
    display: none;
  }

  .app-bar .app-bar__navigation {
    position: static;
    width: 100%;
  }

  .app-bar .app-bar__navigation ul li {
    display: inline-block;
    height: 40px;
  }

  .app-bar .app-bar__navigation ul li a {
    display: inline-block;
    width: 100%;
    height: 44px;
    text-align: center;
    margin: 0;
  }

  .hero img {
    max-height: 500px;
  }

  .items {
    grid-template-columns: repeat(2, 1fr);
  }

  .item {
    grid-template-columns: auto 1fr;
  }

  .item .resto-title {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .item .resto__description {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .item {
    grid-template-columns: auto 1fr;
  }

  .item .resto-title {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .item .resto__description {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media screen and (min-width: 800px) {
  .app-bar .app-bar__brand h1 {
    font-size: 2em;
  }
}

@media screen and (min-width: 850px) {
  .items {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .items {
    grid-template-columns: repeat(4, 1fr);
  }
  .hero img {
    display: flex;
    align-items: center;
    max-height: 400px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: green;
    object-fit: cover;
  }
}

@media screen and (min-width: 1600px) {
  .items {
    grid-template-columns: repeat(5, 1fr);
  }
  .hero img {
    display: flex;
    align-items: center;
    max-height: 400px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: green;
    object-fit: cover;
  }
}
